@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
    --purple-dark: hsl(228, 45%, 44%);
    --body-fonts: Outfit;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: var(--lightgray);
    font-family: var(--body-fonts);
    font-size: 15px;
    line-height: 1.4;
}

main {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__card__body {
    background-color: var(--white);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem 3rem 1rem;
}

.container__card__body img {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    border-radius: 0.75rem;
}

.container__card__body h1 {
    font-weight: 700;
    width: 265px;
    font-size: 22px;
    color: var(--darkblue);
    margin: 2rem 0 1rem;
    text-align: center;
}

.container__card__body p {
    font-weight: 400;
    width: 240px;
    color: var(--grayishblue);
    text-align: center;
}

.footer {
    bottom: 20px;
    position: absolute;
    text-align: center;
    padding: 0 20px;

}

.footer a {
    color: var(--purple-dark)
}


@media screen and (max-width: 600px) {
    .footer {
        font-size: 11px;
    }
}